.authors__table {
  tr {
    grid-column-gap: 10px;
    grid-template-columns: 2.2fr 3fr 1fr 1.4fr 1fr;
  }

  thead > tr {
    padding: 3px 21px 3px 87px;
    font-size: 1.3rem;
  }

  tbody > tr {
    height: 74px;
    padding: 7px 21px 7px 87px;
    position: relative;

    &::before {
      content: '';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      display: table-cell;
      top: 12px;
      left: 17px;
      z-index: 1;
      background-image: url('../../images/avatar.png');
      background-size: contain;
    }
  }
}