.header {
  background-color: $color-header;
  height: 5rem;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    margin: 0 5px;
  }
}