.search-form {
  &__input {
    width: 180px;
    padding: 7px;
    line-height: 14px;
    font-size: 12px;
    border: none;
    outline: none;
    @extend %input-box-background;

    &::placeholder {
      color: $color-text-secondary;
    }
  }

  &__select {
    margin-left: 2rem;
    border: none;
    font-size: 1.4rem;
    line-height: 16px;
    outline: none;
  }
}

.search-btn {
  width: 25px;
  height: 25px;
  margin-left: 8px;
  background: linear-gradient(253.02deg, #7D2995 15.92%, #2395BD 97.92%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    background-image: url('../../images/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin: 5px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}