*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  min-width: 1200px;
}

html, body, #root {
  height: 100%;
}

// for toast message
.ct-group {
  margin: 20px;
}

.ct-toast {
  min-width: 250px;
  justify-content: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}