.content__table {
  margin-top: 11px;
  border-collapse: collapse;

  thead {
    display: block;
    color: $color-text-thead;
    font-size: 1.3rem;
    line-height: 15px;

    tr {
      box-sizing: border-box;
      height: 40px;
      align-items: center;
    }
  }

  tbody {
    font-size: 1.4rem;
    line-height: 16px;

    tr {
      box-sizing: border-box;
    }
  }

  tr {
    display: grid;
    width: 100%;
    background: $color-box-background;
    margin-bottom: 5px;
    @extend %content-box-border;
  }

  th {
    text-align: left;
  }

  th,
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
}