$color-header: #000;
$color-background: #D7E4EB;
$color-sidebar: #212121;
$color-sidebar-link: #FFF;
$color-link-circle: #2395BD;
$color-content-btn: #FFF;
$color-background: #D7E4EB;
$color-box-background: #FAFDFF;
$color-text-secondary: #C2C2C2;
$color-text-thead: #636363;
$color-link: #4D79CE;