$color-header: #000;
$color-background: #D7E4EB;
$color-sidebar: #212121;
$color-link: #FFF;
$color-link-circle: #2395BD;
$color-content-btn: #FFF;
$color-background: #D7E4EB;
$color-text-secondary: #C2C2C2;